
footer {
    min-height: 1vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-size: calc(3px + 1vmin);
    color: black;
  }
  
  